/* Font-family stack: Helvetica, Arial, sans-serif */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px;
}

/* Main Content */
#content {
  margin: auto;
  padding: 30px;
  max-width: 500px;
}
  
/* Form Styling */
form {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 30px;
}
h1 {
  margin-bottom: 1.5rem;
  color: #464545;
}
p {
  margin-bottom: 1rem;
  color: #555;
}

/* List items */
ol {
  counter-reset: list-counter;
}
li {
  list-style: none;
  margin-bottom: 1rem;
  counter-increment: list-counter;
  position: relative;
}

/* Labels */
label {
  color: #555;
  display: block;
  margin-bottom: 1rem;
}
  
/* Input boxes */
input[type="email"],
input[type="submit"],
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

  


  
  

  

  
  
  